<!DOCTYPE html>
<html lang="en">
	<head>
	<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no" />
		<title>
			Controller
		</title>
		<link rel="stylesheet" href="css/lightgrid.css">
		
		<script src="/js/jquery.js"></script>
		<script src="js/jquery-mobile-events.js"></script>
		<script src="js/fastclick.js"></script>
		<script src="js/app.js"></script>
	</head>
	
	<body>
		<div class="directional-container">
			<button class="button left icon-arrow-left" data-key="left"></button>
			<button class="button top icon-arrow-up" data-key="top"></button>
			<button class="button right icon-arrow-right" data-key="right"></button>
			<button class="button bottom icon-arrow-down" data-key="bottom"></button>
		</div>
		<div class="button-container">
			<button class="button square icon-stop" data-key="square"></button>
			<button class="button triangle icon-play" data-key="triangle"></button>
			<button class="button circle icon-record" data-key="circle"></button>
			<button class="button x icon-cross" data-key="x"></button>
		</div>
	</body>
</html>